@font-face{
	font-family: 'run';
	src: url('assets/fonts/run.ttf') format('truetype');
}
body{
	font-family: run;
}
a{
	outline: 0;
}
#myFooter {
    background-color: #121212;
    color: white;
    padding-top: 30px;
}

#myFooter .footer-copyright {
    background-color: #333333;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#myFooter .row {
    margin-bottom: 60px;
}

#myFooter .navbar-brand {
    margin-top: 45px;
    height: 65px;
}
#myFooter .footer-copyright {
	background-color: #121212;
}
#myFooter .footer-copyright p {
    /*margin: 10px;*/
    color: #ccc;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: normal;
    margin-top: 30px;
}

#myFooter h2 a{
    font-size: 50px;
    text-align: center;
    color: #fff;
}

#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}

#myFooter .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 16px;
}

#myFooter .social-networks a {
    font-size: 32px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover {
    text-decoration: none;
}

#myFooter .facebook:hover {
    color: #0077e2;
}

#myFooter .google:hover {
    color: #ef1a1a;
}

#myFooter .twitter:hover {
    color: #00aced;
}

#myFooter .btn {
    color: white;
    /*background-color: #d84b6b;*/
    background: -webkit-linear-gradient(90deg, #4cf8d5 0%, #abffb0 100%);
	background: -moz-linear-gradient(90deg, #4cf8d5 0%, #abffb0 100%);
	background: -o-linear-gradient(90deg, #4cf8d5 0%, #abffb0 100%);
	background: -ms-linear-gradient(90deg, #4cf8d5 0%, #abffb0 100%);
	background: linear-gradient(0deg, #4cf8d5 0%, #abffb0 100%);
    border-radius: 20px;
    border: none;
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 25px;
    color: Black;
    font-family: run;
    font-size: 20px;
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
}

/* CSS used for positioning the footers at the bottom of the page. */
/* You can remove this. */

html{
    height: 100%;
}

body{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;
}

.content{
   flex: 1 0 auto;
   -webkit-flex: 1 0 auto;
   min-height: 200px;
}

#myFooter{
   flex: 0 0 auto;
   -webkit-flex: 0 0 auto;
}
.foot_U:hover{
	color:#00ffe4;
}
#myFooter a{
	display: inline-block;
	transition: transform 200ms;
}
#myFooter a:hover{
	 transform: scale(1.3);
     box-shadow: 0 0 10px rgba(0, 0, 0, 0);

}

#lightbox .modal-content {
    display: inline-block;
    text-align: center;   
}

#lightbox .close {
    opacity: 1;
    color: rgb(255, 255, 255);
    background-color: rgb(25, 25, 25);
    padding: 5px 8px;
    border-radius: 30px;
    border: 2px solid rgb(255, 255, 255);
    position: absolute;
    top: -15px;
    right: -55px;
    
    z-index:1032;
}
/*box-shadow: 2px 4px 5px 0px rgba(174, 174, 174, 0.75);
width: 290px;
height: 56px;*/