@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@font-face{
	font-family: 'run';
	src: url('assets/fonts/run.ttf') format('truetype');
}
@font-face {
	font-family: 'NexaLight';
	src: url("assets/fonts/Nexa Light.otf");
	unicode-range: U+30-39;
}
body{
	font-family: run, NexaLight;
	color: #121212;
	/*background-image: url('assets/bkf.png');*/
	width:100%
	height: 100%;
	font-size: 40px;
}
.buttons{
	background-color: #121212;
	width: 200px;
	height: 80px;
	border-radius: 50px;
	font-family: Run;
	color: #ffffff;
	font-size: 30px;
	font-weight: 500;
	line-height: 20px;
	text-align: center;
	border: 1px solid white;
}
.container-fluid{
	margin-left: 10%;
	margin-right: 10%;
}
#s1{
	background-image: url('assets/pexels-photo-210990.jpeg');
	background-size: cover;
	/*background-position: center;*/
	color: white;
	text-align: center;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 
	0px 8px 13px rgba(0,0,0,0.4),
	0px 18px 23px rgba(0,0,0,0.4);
}

.section{
	text-align: center;
}
#s2{
	background-image: url('assets/wood.jpg');
	background-size: cover;
	color: white;
}
h1{
	font-size: 100px;
}
hr{
	width: 700px;
	border-top: 2px solid black;
	border-bottom : 4px rgb(0,0,0,0.2);
}
table{
	margin: 0 auto;
	border: 1px solid black;
}
span{
	font-size: 
}

th,td{
	padding: 20px;
}

td{
	color: black;
	text-align: center;
	background:#FFFFFF;
	/*vertical-align:middle;*/
	text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
	/*border-right: 1px solid #C1C3D1;*/
}
tr{
	/*border-top: 1px solid #C1C3D1;*/
	/*border-bottom-: 1px solid #C1C3D1;*/
	text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
th{
	color: white;
	background:#1b1e24;
	/*border-bottom:4px solid #9ea7af;*/
	/*border-right: 1px solid #343a45;*/
	font-size:23px;
	font-weight: 100;
	/*padding:24px;*/
	text-align:center;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	/*vertical-align:middle;*/
}
.owe,.owes{
	width: 60%;
}
table{
	width: 70%;
}
.tbalance{
	margin-bottom: 5%;
}
#red{
	color: red;
	font-weight: 800;
}
#green{
	color: green;
	font-weight: 800;
}

#net{
	font-weight: 800;
}

#fadeandscale {
  transform: scale(0.8);
}
.popup_visible #fadeandscale {
  transform: scale(1);
}

.navbar{
	margin-bottom: 0;
	border-radius: 0px;

}
.navbar-brand{
	font-size: 40px;
	color: white;
	margin-top: 5px;
}
.form-control{
	font-family: NexaLight;
	font-size: 25px;
	font-weight: 800;
}


.sk-folding-cube {
  position: absolute;
	top: 48%;
left: 48%;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); 
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; 
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  } 
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  }
}
.spinner-wrapper {
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
background: -webkit-linear-gradient(-72deg, #48ffde 8%, #72ffca 44%, #a9ffaf 92%);
background: -moz-linear-gradient(-72deg, #48ffde 8%, #72ffca 44%, #a9ffaf 92%);
background: -o-linear-gradient(-72deg, #48ffde 8%, #72ffca 44%, #a9ffaf 92%);
background: -ms-linear-gradient(-72deg, #48ffde 8%, #72ffca 44%, #a9ffaf 92%);
background: linear-gradient(162deg, #48ffde 8%, #72ffca 44%, #a9ffaf 92%);
z-index: 999999;
}