{% extends 'layout.html' %}

{% block body %}
	
		<h1>Add a bill</h1>
		{% from 'includes/_formhelpers.html' import render_field %}
		<form method = "POST" action = "">
			<div class="form-group">
				{{render_field(form.desc, class_= "form-control")}}
			</div>
			<div class="form-group">
				{{render_field(form.amt, class_= "form-control")}}
			</div>
			<div class="form-group">
				{{render_field(form.notes, class_= "form-control")}}
			</div>
			


			<div class="form-group">
				{{render_field(form.people_in_bill, class_= "form-control")}}
			</div>



			<div class="form-group">
				{{render_field(form.paid_by, class_= "form-control")}}
			</div>
			<div class="form-group">
				{{render_field(form.paid_by_amounts, class_= "form-control")}}
			</div>
			<div class="form-group">
				{{render_field(form.paid_equally, class_= "form-control")}}
			</div>



			<div class="form-group">
				{{render_field(form.split_by, class_= "form-control")}}
			</div>
			<div class="form-group">
				{{render_field(form.split_by_amounts, class_= "form-control")}}
			</div>
			<div class="form-group">
				{{render_field(form.split_equally, class_= "form-control")}}
			</div>

			<p><input type = "submit" class = "btn btn-primary" value = "Submit"></p>

		</form>	

{% endblock %}