<!DOCTYPE html>
<html>
<head>
	<title>Add a bill</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/add_a_bill.css') }}">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>
	{% include 'includes/_messages.html' %}
	{% from 'includes/_formhelpers.html' import render_field %}
	<form id = "complete-add-bill" method = "POST">
		<div class="main container-fluid">
			
			<div class="bdescription page">
				<!-- <div class="row">
				<div class="col-lg-6"> -->
					<!-- <form> -->
						<div class="form-group">
							<label for="date">Date</label>
							<a><i class="fa fa-undo" aria-hidden="true" id="reset1"></i></a>
							<!-- <input type="date" class="form-control" id="date"> -->
							{{render_field(form.date, class_= "form-control", id = "date")}}
						</div>
						<div class="form-group">
							<label for="amount">Amount:</label>
							<!-- <span class="input-group-addon" id="basic-addon1">₹</span> -->
							<!-- <input type="text" class="form-control" id="amount"> -->
							{{render_field(form.amt, class_= "form-control", id = "amount")}}
						</div>
						<div class="form-group">
							<label for="desc">Description</label>
							<!-- <span class="input-group-addon" id="basic-addon1">₹</span> -->
							<!-- <input type="text" class="form-control" id="desc"> -->
							{{render_field(form.desc, class_= "form-control", id = "desc")}}
						</div>
						<div class="form-group">
							<label for="notes">Add notes: </label>
							<!-- <textarea class="form-control" id="notes" rows="3" placeholder="Notes"></textarea> -->
							{{render_field(form.notes, class_= "form-control", id = "notes", rows="3", placeholder="Notes")}}
						</div>
					<!-- </form> -->
					<!-- </div>
				</div> -->
				<button type="button" class="btn btn-default nextbutton" id="next1">Next</button>
			</div>

			<div class = "addfriends page">
				<div data-toggle="fieldset" id="people-in-bill-fieldset">
			         <button type="button" data-toggle="fieldset-add-row" data-target="#people-in-bill-fieldset" class = "btn btn-primary">Add</button>
			        <table>
			            {% for person in form.people_in_bill %}
			                <tr data-toggle="fieldset-entry">
			                    <td>{{ render_field(person.person_in_bill, class_ = "form-control", placeholder = "Add friend")}}</td>
			                    <td><button type="button" data-toggle="fieldset-remove-row" id="phone-{{loop.index0}}-remove" class = "btn btn-danger">Remove</button></td>
			                </tr>
			            {% endfor %}
			        </table>
			    </div>
			    <button type="button" class="btn btn-default prevbutton" id="prev1"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></button>
				<button type="button" class="btn btn-default nextbutton" id="next2">Next</button>
			</div>

			<!-- <div class="addfriends page" data-toggle = "fieldset">
					<ul class="list-group" id="flist">
					<div class="input-group" data-toggle = "fieldset" id = "people-in-bill-fieldset">
				            <button type="button" data-toggle="fieldset-add-row" data-target="#people-in-bill-fieldset" class = "btn btn-primary">Add</button>
					            <table>

				                {% for person in form.people_in_bill %}
				                <tr data-toggle="fieldset-entry">
				                    <td>{{ render_field(person.person_in_bill, class_ = "form-control", id = "addflist", placeholder = "Add friends in the bill") }}</td>
				                </tr>
				                {% endfor %}
				            </table>

						 <input type="text" class="form-control" placeholder="Search for..." id="addflist"	> 

						 <span class="input-group-btn">
							<button class="btn btn-default" type="button" id="searchbutton"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
						</span>
					</div>
				</ul>
				{{form.submit}} -->
					<!-- /input-group -->
					
					<!-- <ul class="list-group" id="flist" data-toggle = "fieldset-entry">
					<a><i class="fa fa-undo" aria-hidden="true" id="reset1"></i></a>
						
						{% for i in form.people_in_bill %}
							<li>{{render_field(i.person_in_bill, class_ = "form-control", id = "addflist", placeholder = "Add friends in the bill")}}</li>
						{% endfor %}
						
					</ul> -->
				<!-- </div> -->
				<!-- <button type="button" class="btn btn-default prevbutton" id="prev1"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></button>
				<button type="button" class="btn btn-default nextbutton" id="next2">Next</button>
			</div>  -->

			<div class = "paidby page">
				<div data-toggle="fieldset" id="paid-by-fieldset">
			         <button type="button" data-toggle="fieldset-add-row" data-target="#paid-by-fieldset" class = "btn btn-primary">Add</button>
			        <table>
			            {% for person in form.paid_by_list %}
			                <tr data-toggle="fieldset-entry">
			                    <td>{{ render_field(person.paid_by, class_ = "form-control", placeholder = "Add friend")}}</td>
			                    <td>{{ render_field(person.paid_by_amount, class_ = "form-control", placeholder = "Add amount")}}</td>
			                    <td><button type="button" data-toggle="fieldset-remove-row" id="phone-{{loop.index0}}-remove" class = "btn btn-danger">Remove</button></td>
			                </tr>
			            {% endfor %}
			        </table>
			    </div>
			    <button type="button" class="btn btn-default prevbutton" id="prev2"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></button>
				<button type="button" class="btn btn-default nextbutton" id="next3">Next</button>
			</div>

			<!-- <div class="paidby page">
				
				<label for="peq" id="peqcbox">Paid Equally?</label>
				 <input type="checkbox" aria-label="..." id="peq"> 
				{{render_field(form.paid_equally, class_= "form-control", id = "peq")}}
				<div class="input-group paidtextfields">	
					 <input type="text" class="form-control" placeholder="Paid By" id="paidbytext">
					{% for i in form.paid_by_list %}
						{{render_field(i.paid_by, class_ = "form-control", id = "paidbytext", placeholder = "Paid By")}}
					{% endfor %}
					<span class="input-group-btn"></span>
				</div>
				<div class="input-group">

				</div>
				<div class="input-group paidtextfields">
					 <input type="text" class="form-control" id="amt" placeholder="amount">
					{% for i in form.paid_by_list %}
						{{render_field(i.paid_by_amount, class_ = "form-control", id = "amt", placeholder = "amount")}}
					{% endfor %}

				</div>
				<ul class="list-group paidlist" id="paidlist">

				</ul>
				<ul class="list-group pamtlist" id="pamtlist">

				</ul>
				<br>
				<button type="button" class="btn btn-default prevbutton" id="prev2"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></button>
				<button type="button" class="btn btn-default nextbutton" id="next3">Next</button>
			</div> -->


			<div class = "splitamongst page">
				<div data-toggle="fieldset" id="split-by-fieldset">
			         <button type="button" data-toggle="fieldset-add-row" data-target="#split-by-fieldset" class = "btn btn-primary">Add</button>
			        <table>
			            {% for person in form.split_by_list %}
			                <tr data-toggle="fieldset-entry">
			                    <td>{{ render_field(person.split_by, class_ = "form-control", placeholder = "Add friend")}}</td>
			                    <td>{{ render_field(person.split_by_amount, class_ = "form-control", placeholder = "Add amount")}}</td>
			                    <td><button type="button" data-toggle="fieldset-remove-row" id="phone-{{loop.index0}}-remove" class = "btn btn-danger">Remove</button></td>
			                </tr>
			            {% endfor %}
			        </table>
			    </div>
			    <button type="button" class="btn btn-default prevbutton" id="prev3"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></button>
			</div>

			<!-- <div class="splitamongst page">
				<div class="input-group">
					<label for="seq" id="peqcbox">Split Equally?</label>
					 <input type="checkbox" aria-label="..." id="seq"> 
					{{render_field(form.split_equally, class_= "form-control", id = "seq")}}
				</div>

				<div class="input-group psearch paidtextfields" >	
					 <input type="text" class="form-control" placeholder="Split Amongst" id="splitbytext">
					{% for i in form.split_by_list %}
						{{render_field(i.split_by, class_ = "form-control", id = "splitbytext", placeholder = "Split By")}}
					{% endfor %}
					<span class="input-group-btn">
					</span>
				</div>/input-group
				<div class="input-group amount paidtextfields">
					 <input type="text" class="form-control paidtextfields" placeholder=" Amount" id="samt">
					{% for i in form.split_by_list %}
						{{render_field(i.split_by_amount, class_ = "form-control paidtextfields", id = "samt", placeholder = "Amount")}}
					{% endfor %}
				</div>
				<ul class="list-group paidlist" id="splitlist">

				</ul>
				<ul class="list-group pamtlist" id="samtlist">

				</ul>
				<br>
				<button type="button" class="btn btn-default prevbutton" id="prev3"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></button>
				
			</div> -->
			
			<input type="submit" class="btn btn-default nextbutton" id="addbill"></input>
		</form>
		<script type="text/javascript" src="{{ url_for('static', filename='add-a-bill.js') }}"></script>

		<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<!-- <script type="text/javascript" src="date.js"></script> -->
	</body>
	</html>