{% extends 'layout.html' %}

{% block body %}
	
		<h1>Add a bill</h1>
		{% from 'includes/_formhelpers.html' import render_field %}
		<form method = "POST" action = "">
			
			<div class="form-group">
				{{render_field(form.desc, class_= "form-control")}}
			</div>
			<div class="form-group">
				{{render_field(form.amt, class_= "form-control")}}
			</div>
			<div class="form-group">
				{{render_field(form.notes, class_= "form-control")}}
			</div>
			


			<div class="form-group">
				{% for person in form.people_in_bill %}
					{{person.form.person_in_bill}}
				{% endfor %}
			</div>

			

			<div class="form-group">
				{{render_field(form.paid_equally, class_= "form-control")}}
			</div>

			<div class="form-group">
				{{render_field(form.paid_by_list, class_= "form-control")}}
				{% for payers in form.paid_by_list %}
					{% for i in payers %}
						{{i.form.paid_by}}
						{{i.form.paid_by_amount}}
					{% endfor %}
				{% endfor %}
			</div>



			<div class="form-group">
				{{render_field(form.split_equally, class_= "form-control")}}
			</div>
			<div class="form-group">
				{% for spenders in form.split_by_list %}
					{% for i in spenders %}
						{{i.form.split_by}}
						{{i.form.split_by_amount}}
					{% endfor %}
				{% endfor %}
			</div>
			

			<p><input type = "submit" class = "btn btn-primary" value = "Submit"></p>

		</form>	

{% endblock %}