{% include 'layout.html' %}

{% block body %}
	<div class = "jumbotron" align = "center">
		<h2 align = "center">These are the following transations which are to be made to settle the bill with bill id: {{bill_id}}</h2>
		<hr>
		<table>
			<tr>
				{% for transaction in transactions %}
				<td> <h3> {{transaction}} <h3> </td>
				{% endfor %}
			</tr>
		</table>
	</div>
	<div align = "center">
		<a href = "/dashboard" ><button class = "btn btn-primary"> Go to dashbaord </button> </a>
	</div>


{% endblock %}