<!DOCTYPE html>
<head>
    <title>
        Dashboard
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style__menu.css') }}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/lightbox.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/color__box.css') }}"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.5/jquery.fullpage.css"/>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.colorbox.js') }}"> </script>
    
    <!-- <script>
        $(document).ready(function() {
            $(".rsettle").colorbox({ iframe: true, width: "60%", height: "80%", closeButton: true });
        // $(".raddbill").colorbox({ iframe: true, width: "60%", height: "80%", closeButton: true });
        
    });
</script> -->
</head>

<body>



    <!-- Sidebar -->




    <!-- Sidebar -->


    <div id="fullpage">

        <div class="section active">
            <div class="slide" id="s1">
                <h1>DASHBOARD</h1>
                <hr>
                <div class="row">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4" id="btns">
                        <a href="/dashboard/add-a-bill" target = "_top"><button type="button" class="buttons">Add a Bill</button></a>
                        <a href="/dashboard/settleup"> <button type="button" class="buttons">Settle Up</button></a>
                    </div>

                    <div class="col-lg-4"></div>

                </div>
                
            </div>
            <div class="slide" id="friendslide">

                <input type="text" name=""><button class="btn btn-default"></button>
                <div class="flex">
                    <div>Friends</div>
                    <div><a href="{{ url_for('add_friend', friends = friends) }}">Add+</a></div>
                </div>
            </div>
        </div>
        <div class="section" id="s2">
             {% include 'includes/_messages.html' %}
            <div class="tbalance">
                <span>Total Balance</span>
                <table>
                    <tr>
                        <th>Total Balance</th>
                        <th>You Owe</th>
                        <th>You're owed</th>
                    </tr>
                    <tr>
                        <td id="net">
                            {{ net_amount }}
                        </td>
                        <td id="red">
                            {{ user_owes }}
                        </td>
                        <td id="green"> 
                            {{ user_is_owed }}
                        </td>
                    </tr>

                </table>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div>
                        <span>You owe</span>
                        <table  class="owe">
                            <tr><th>Name</th><th>Amount</th></tr>
                            {% for key in friends_user_owes %}
                            <tr>
                                <td>{{ key }}</td>
                                <td id="red">{{ friends_user_owes[key] }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div >
                        <span>You're owed</span>
                        <table class="owes">
                            <tr><th>Name</th><th>Amount</th></tr>
                            {% for key in friends_user_is_owed_by %}
                            <tr>
                                <td>{{ key }}</td>
                                <td id="green">{{ friends_user_is_owed_by[key] }}</td>
                            </tr>
                            {% endfor %}
                        </table>     
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.5/jquery.fullpage.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='dashboard.js') }}"> </script>
</script>

</body>
</html>


