<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<title>Featherlight – The ultra slim jQuery lightbox.</title>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link type="text/css" rel="stylesheet" href="css/featherlight.min.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  		<!-- <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|RobotoDraft:400,100,300,500,700,900'> -->
  		<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
  		<link rel="stylesheet" href="css/login-style.css">
		<style type="text/css">
			@media all {
				.lightbox { display: none; }
				}
		</style>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	</head>
	<body class="fl-page">
		
					<a class="btn btn-default log" href="#" data-featherlight="#fl1">LogIn</a>
					

	
					<div class= "lightbox" id="fl1">
					  <div class="container2">
								  <div class="card"></div>
								  <div class="card login">
								    <h1 class="title">Login</h1>
								    <form>
								      <div class="input-container">
								        <input type="text" id="r-username" required="required"/>
								        <label for="r-username">Username</label>
								        <div class="bar"></div>
								      </div>
								      <div class="input-container">
								        <input type="password" id="pass-login" required="required"/>
								        <label for="pass-login">Password</label>
								        <div class="bar"></div>
								      </div>
								      <div class="button-container">
								        <button><span style="color:white;">Go</span></button>
								      </div>
								      <div class="footer"><a href="#">Forgot your password?</a></div>
								    </form>
								  </div>
								  <div class="card alt register">
								    <div class="toggle tg-btn"></div>
								    <h1 class="title">Register
								      <div class="close"></div>
								    </h1>
								    <form class="regform">
								      <div class="input-container">
								        <input type="text" id="user-name-login" required="required"/>
								        <label for="user-name-login">Username</label>
								        <div class="bar"></div>
								      </div>
								      <div class="input-container">
								        <input type="email" id="email-login" required="required"/>
								        <label for="email-login">Email ID</label>
								        <div class="bar"></div>
								      </div>
								      <div class="input-container">
								        <input type="password" id="pass-login" required="required"/>
								        <label for="pass-login">Password</label>
								        <div class="bar"></div>
								      </div>
								      <div class="input-container">
								        <input type="password" id="re-pass-login" required="required"/>
								        <label for="re-pass-login">Repeat Password</label>
								        <div class="bar"></div>
								      </div>
								      <div class="button-container">
								        <button><span style="color:white;">Next</span></button>
								      </div>
								    </form>
								  </div>
								</div>

						</div>
						<a class="btn btn-default reg" href="#" data-featherlight="#fl2">Register</a>
					

	
					<div class= "lightbox" id="fl2">
 								<div class="containe2r">
								  <div class="card"></div>
								  <div class="card login">
								    <h1 class="title">Login</h1>
								    <form>
								      <div class="input-container">
								        <input type="text" id="r-username" required="required"/>
								        <label for="r-username">Username</label>
								        <div class="bar"></div>
								      </div>
								      <div class="input-container">
								        <input type="password" id="pass-login" required="required"/>
								        <label for="pass-login">Password</label>
								        <div class="bar"></div>
								      </div>
								      <div class="button-container">
								        <button><span style="color:white;">Go</span></button>
								      </div>
								      <div class="footer"><a href="#">Forgot your password?</a></div>
								    </form>
								  </div>
								  <div class="card alt register">
								    <div class="toggle"></div>
								    <h1 class="title">Register
								      <div class="close"></div>
								    </h1>
								    <form>
								      <div class="input-container">
								        <input type="text" id="user-name-login" required="required"/>
								        <label for="user-name-login">Username</label>
								        <div class="bar"></div>
								      </div>
								      <div class="input-container">
								        <input type="email" id="email-login" required="required"/>
								        <label for="email-login">Email ID</label>
								        <div class="bar"></div>
								      </div>
								      <div class="input-container">
								        <input type="password" id="pass-login" required="required"/>
								        <label for="pass-login">Password</label>
								        <div class="bar"></div>
								      </div>
								      <div class="input-container">
								        <input type="password" id="re-pass-login" required="required"/>
								        <label for="re-pass-login">Repeat Password</label>
								        <div class="bar"></div>
								      </div>
								      <div class="button-container">
								        <button><span style="color:white;">Next</span></button>
								      </div>
								    </form>
								  </div>
								</div>
					  

						</div>
					  

						
		
		

		<script src="js/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
		<script  src="js/login.js"></script>

	</body>
</html>
