<!DOCTYPE html>
<head>
	<title></title>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/lightbox.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/firstbtn.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    			<div id="rtrends">
    				TRENDS THIS MONTH
    			</div>
            </br>
    			<div class="rtxt">
  				Total you paid for
    			</div>
                <div id="rmoneypaid">
                    20
                </div>
                <div class="rtxt">
                    Your total Share
                </div>
                <div id="rmoneyshare">
                    50
                </div>
    			<div class="rtxt">  
                    Payments made
                </div>
                <div id="rmoneypay">  
                    30
                </div>
    

</body>
</html>