<!DOCTYPE html>
<html>
<head>
	<title>Settle Up</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/settle_up.css') }}">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/num_font.css') }}">
	<style>
        input[type="text"] { border-radius: 0 !important; }
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/auto-complete.css') }}">
</head>
<body>
	<div class="container">
		<div class="heading">
			<h1>Settle Up</h1>
		</div>
		<div class="row">
		<div class="col-lg-3"></div>
			<div class="col-lg-6 mainbox">
				<form action="/dashboard/settleup" method="POST">
					<div class="form-group">
						<label for="friend">Add friend</label>
						<input type="text" class="form-control" id="friend" placeholder="add friend" name="username">
					</div>
					<div class="form-group">
						<label for="amount">Amount</label>
						<input type="text" class="form-control" id="amount" placeholder="enter amount" name="amount">
					</div>
					<div class="radio">
					<label><input type="radio" name="radio" value="user" id="radio2">I am paying</label>
					</div>
					<div class="radio">
						<label><input type="radio" name="radio" value="friend" id="radio1">I'm getting paid</label>
					</div>

					<button type="submit" id="submit" name="payment_method" value="online">Pay now</button>
					<button type="submit" id="submit" name="payment_method" value="cash">Record cash transaction</button>
				</form>
			</div>
			<div class="col-lg-3"></div>
		</div>
	</div>
	<script src="{{ url_for('static', filename='auto-complete.js') }}"></script>
    <script>
        var demo1 = new autoComplete({
            selector: '#friend',
            minChars: 1,
            source: function(term, suggest){
                term = term.toLowerCase();
                var choices = {{ friends|safe }};
                var suggestions = [];
                for (i=0;i<choices.length;i++)
                    if (~choices[i].toLowerCase().indexOf(term)) suggestions.push(choices[i]);
                suggest(suggestions);
            }
        });
    </script>
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js" async defer></script>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='settle_up.js') }}"></script>
</body>
</html>