<html>
<head>
	<title>Udhaarify</title>
	 <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	 <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/show-bills.css') }}">
	 <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/num_font.css') }}">
	 <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/pstyle.css') }}">

	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	 <script type="text/javascript" src="{{ url_for('static', filename='modernizr.js') }}"> </script>
</head>
<body data-hijacking="off" data-animation="scaleDown">
	
	<section class="cd-section visible">
		<div align = "center" class="desc">
		<h3><span class="desc_head">Bill Id:</span> {{bill_id}}</h3>
		<h3><span class="desc_head">Description:</span> {{desc}}</h3>
		<h3><span class="desc_head">Amount:</span> {{amount}}</h3>
		<h3><span class="desc_head">Notes:</span> {{notes}}</h3>
		<h3><span class="desc_head">Date:</span> {{date}}</h3>

		<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	</div>

	</section>
				<!--<table border = "1px" align = "center" width = "15%">
					<caption>Bill payers</caption>

						<tr>
							<td> {{key}} </td>
							<td> {{payer_dict[key]}} </td>
						</tr>

				</table>
				<hr>
				<table border = "1px" align = "center" width = "15%">
					<caption>Bill spenders</caption>
						<tr>
							<td> {{key}} </td>
							<td> {{spender_dict[key]}} </td>
						</tr>

				</table>-->
				<div class="container">
					<div class="row">
						<div class="col-sm-6">
				<table class="table-fill">
					<caption>Bill payers</caption>
					<thead>
					<tr>
					<th class="text-left">Name</th>
					<th class="text-left">Paid</th>
					</tr>
					</thead>
					<tbody class="table-hover">
						{% for key in payer_dict %}
						<tr>
							<td class="text-left table-entry"> {{key}} </td>
							<td class="text-left table-entry"> {{payer_dict[key]}} </td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="col-sm-6">
				<table class="table-fill">
					<caption>Bill Spenders</caption>
					<thead>
					<tr>
					<th class="text-left">Name</th>
					<th class="text-left">Spent</th>
					</tr>
					</thead>
					<tbody class="table-hover">
						{% for key in spender_dict %}
						<tr>
							<td class="text-left table-entry"> {{key}} </td>
							<td class="text-left table-entry"> {{spender_dict[key]}} </td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="{{ url_for('static', filename='jquery.colorbox.js') }}"> </script>
<script type="text/javascript" src="{{ url_for('static', filename='../static/jquery-2.1.4.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='../static/velocity.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='../static/velocity.ui.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='../static/main.js') }}"></script> 



</body>
</html>